@model IEnumerable<NexaWorks.Models.Entities.Ticket>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>List of Tickets</h2>
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Creation Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model)
                {
                    <tr>
                        <td>@ticket.CreationDate.ToString("yyyy-MM-dd")</td>
                        <td>@(ticket.Status ? "Resolved" : "In Progress")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tickets available.</p>
    }
</div>
